.grid {
  max-width: 1200px;
  margin: 0 auto;

  @include res--desktop {
    max-width: 100%;
  }
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.bold {
  font-weight: $fw-b;
}

.medium {
  font-weight: $fw-m;
}

.primary {
  color: $primary;
}

.show-wide {
  display: block;

  @include res--desktop {
    display: none;
  }
}

.show-desktop {
  display: block;

  @include res--laptop {
    display: none;
  }
}

.show-laptop {
  display: none;

  @include res--laptop {
    display: block;
  }
}

.show-tablet {
  display: none;

  @include res--tablet {
    display: block;
  }
}

// 스크롤 설정
.no-scroll {
  height: 100%;
  overflow: hidden
}

// 텍스트 설정
.text-center {
  text-align: center;
}

.text-error {
  color: $red;
}
