## Node.js
node_modules

## Next.js
next.config.js

## Jest 
jest.config.js
jest.setup.js

# Cypress
Cypress
cypress.config.ts

## Test Code
__mocks__/fileMock.js
__mocks__/styleMock.js

## npm
bin

# Tailwind
postcss.config.js
tailwind.config.js
