## Mac OS x
.DS_*

# misc
*.pem

## IntelliJ
.idea

## VS Code
.vscode

## Node.js
node_modules
.pnp
.pnp.js

## Jest
coverage

# Cypress
cypress/results
cypress/screenshots
cypress/videos
index.json

## Build
dist
build

## SWC
.swc

## Env
.env
.env*.local

# next.js
/.next/
/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
