.userMessage {
  background-color: #e1ffc7;
  align-self: flex-end;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
}

.botMessage {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: #000000;
}
