// Break Point
$desktop-width : 1200px;
$laptop-width : 980px;
$tablet-width: 769px;
$mobile-width: 640px;
$mobile-sm-width: 375px;

// ---------- * ----------

// Desktop
@mixin res--desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}

// Laptop
@mixin res--laptop {
  @media screen and (max-width: #{$laptop-width}) {
    @content;
  }
}

// Tablet
@mixin res--tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

// Mobile
@mixin res--mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

// Mobile (Small)
@mixin res--mobile-sm {
  @media screen and (max-width: #{$mobile-sm-width}) {
    @content;
  }
}
