// Variables

// -------------------------
// [ color pallete ]
// -------------------------
$white: #fff;
$black: #000;
$primary: #5c55f7;
$light-purple: #aba9d2;
$red: #ff5b65;
$bgColor: #f7f7fe;
$disabled: #a0a0a7;

// -------------------------
// [ path ]
// -------------------------
$path-image: "./assets/images/";
// background-image: url(#{$path-image}/onuii.png);

// -------------------------
// [ font-weight ]
// -------------------------
$fw-b: 700; // bold
$fw-m: 500; // medium
$fw-r: 400; // regular
$fw-dl: 300; // semi light
$fw-l: 200; // light
$fw-t: 100; // thin
